################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Debug/BerlinClock.csprojAssemblyReference.cache
/bin/Debug
/obj/Debug
/packages
